# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# App specific
backend/.env
frontend/node_modules/
tests/.pytest_cache
